/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/DateAndResolutionSystem/nbproject/private/
/DateAndResolutionSystem/build/
/HelloWorldSwing/nbproject/private/
/HelloWorldSwing/build/
/HelloWorldJavaFX/nbproject/private/
/HelloWorldJavaFX/build/
/HelloWorldJavaFX/dist/
/HelloWorldSwing/dist/
/JavaFXTest/nbproject/private/
/JavaFXTest/build/
/JavaFXTest/dist/
/test/nbproject/private/
