/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/DateAndResolutionSystem/nbproject/private/
/DateAndResolutionSystem/build/
/HelloWorldSwing/nbproject/private/
/HelloWorldSwing/build/
/HelloWorldJavaFX/nbproject/private/
/HelloWorldJavaFX/build/
/HelloWorldJavaFX/dist/
/HelloWorldSwing/dist/
/JavaFXTest/nbproject/private/
/JavaFXTest/build/
/JavaFXTest/dist/
/test/nbproject/private/
/ClockSwing/nbproject/private/
/ClockSwing/build/
/ClockSwing/dist/
/PrimitiveTypes/nbproject/private/
/PrimitiveTypes/build/
/TypesTest/nbproject/private/
/TypesTest/build/
/SumTwoValues/nbproject/private/
/SumTwoValues/build/
/SumTwoValues/dist/
/AgeCalculator/nbproject/private/
/AgeCalculator/build/
/ArithmeticOperators/nbproject/private/
/ArithmeticOperators/build/
/SwingOperators/build/
/SwingOperators/dist/
/SuperCalculator/nbproject/private/
/SuperCalculator/build/
/SuperCalculator/dist/
/TernaryOperator/nbproject/private/
/TernaryOperator/build/
/StringComparation/nbproject/private/
/StringComparation/build/
/LogicOperators/nbproject/private/
/LogicOperators/build/
/AgeCheckerSwing/nbproject/private/
/AgeCheckerSwing/build/
/AgeCheckerSwing/dist/
